<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link href="/backend/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/backend/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="/backend/css/connect.css" rel="stylesheet">
        <link href="/backend/css/dark_theme.css" rel="stylesheet">
        <link href="/backend/css/custom.css" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         <link rel="stylesheet" href="/backend/css/content.css">
        <link href="../../../public/backend/css/connect.css" rel="stylesheet">
        <link href="../../../public/backend/css/dark_theme.css" rel="stylesheet">
        <link href="../../../public/backend/css/custom.css" rel="stylesheet">
        <link href="../../../public/backend/css/content.css" rel="stylesheet">
        <link href="../../../public/backend/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
</head>
    <body>
        <div class="connect-container align-content-stretch d-flex flex-wrap">
            {{>sidebar}}
            <div class="page-container">
                {{>header}}
                <div class="page-content">
                    <div class="main-wrapper">
                        {{{body}}}
                    </div>
                </div>
                {{>footer}}
        </div>
        </div>
        <script src="/backend/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="/backend/plugins/bootstrap/popper.min.js"></script>
        <script src="/backend/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/backend/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/backend/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
        <script src="/backend/plugins/apexcharts/dist/apexcharts.min.js"></script>
        <script src="/backend/plugins/blockui/jquery.blockUI.js"></script>
        <script src="/backend/plugins/flot/jquery.flot.min.js"></script>
        <script src="/backend/plugins/flot/jquery.flot.time.min.js"></script>
        <script src="/backend/plugins/flot/jquery.flot.symbol.min.js"></script>
        <script src="/backend/plugins/flot/jquery.flot.resize.min.js"></script>
        <script src="/backend/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="/backend/js/connect.min.js"></script>
        <script src="/backend/js/pages/dashboard.js"></script>
        <script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
</body>
</html>