.product {
  background-color: #e5e5e5;
}


.product-carousel {
  .col-lg-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 0;

    #main-carousel {
      height: 460px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px 40px;
      box-sizing: border-box;
      background-color: white;
      border-radius: 10px;

      img {
        width: 100%;
        height: 300px;
        object-fit: contain;
      }

      i {
        position: absolute;
        cursor: pointer;
        font-size: 30px;
      }

      i:first-child {
        top: 50%;
        left: 10px;
      }

      i:last-child {
        top: 50%;
        right: 10px;
      }
    }

    .thumbnails {
      display: flex;
      margin: 1rem auto 0;
      padding: 0;
      justify-content: center;
    }

    .thumbnail {
      width: 70px;
      height: 70px;
      overflow: hidden;
      list-style: none;
      margin: 0 0.2rem;
      cursor: pointer;
      opacity: 0.4;
    }

    .thumbnail.show {
      opacity: 1;
    }

    .thumbnail img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .thumbnail.is-active {
      opacity: 1;
    }
  }

  .col-lg-8 {
    >.row {
      margin-bottom: 30px;
      .col-md-12 {
        margin: 0;
        padding: 0;

        h3 {
          color: #070C11;
          margin: 0 !important;
          font-size: 36px;
          font-weight: 700;
          width: 80%;
        }
      }
    }
    padding: 30px 20px;
    .product-info {
      background: #fff;
      padding: 30px;
      height: 185px;
      border-radius: 10px;

      .info-head {
        display: flex;
        justify-content: space-between;

        .left-info-head {
          img {
            width: 24px;
            height: 24px;
          }

          span {
            margin: 0 5px;
          }
        }

        .right-info-head {
          display: flex;
          justify-content: space-between;
        }
      }

      .info-center {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-info-center {
          .foot-info-top {
            flex-direction: row;
            display: flex;
            justify-content: flex-start;
            span {
              margin-right: 10px;
              font-size: 16px;
              font-weight: 500;
              line-height: 21px;
            }
            >span:first-child {
              color: #838688;
            }

            >span:last-child {
              background-color: #F37748;
              padding: 3px 8px 3px 5px;
              box-sizing: border-box;
              border-radius: 14px;
              display: flex;

              span {
                margin: 0;
                color: white;
                font-weight: 700;
                font-size: 14px;
              }

              span:first-child {
                background-color: white;
                color: black;
                padding: 0 4px;
                border-radius: 23px;
              }
            }
          }

          .foot-info-bottom {
            h4 {
              font-weight: 700;
              font-size: 32px;
              margin: 0 !important;
            }
          }
        }

        .right-info-center {
          button {
            width: 228px;
            height: 48px;
          }
        }
      }

    }

    .product-footer {
      margin-top: 31px;

      .footer-title {
        font-size: 16px;
        font-family: 'Exo2';

        span {
          font-weight: 700;
          color: #070C11;
        }

        i {
          margin-right: 10px;
        }

        i:first-child {
          transform: rotateY(180deg);
        }
      }

      .footer-info {
        padding-left: 34px;
        padding-top: 10px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.tabs {
  padding: 30px 0 !important;
  ul {
    background-color: #EDF2F6;
    padding-left: 20px;
    margin-bottom: 30px;
    display: flex !important;
    flex-direction: row !important;
    li {
      padding: 20px 25.5px;
      display: flex;
      align-items: center;
      span {
        font-size: 16px;
        color: black;
        font-weight: 700;
        box-sizing: border-box;

        &:hover {
          color: #2A5275;
          cursor: pointer;
        }

        &:focus {
          color: #2A5275;
        }
      }

    }

    li.show {
      border-bottom: 2px solid #2A5275;

      span {
        color: #2A5275;
      }
    }
  }

  .tabs-info {
    display: none;
    transition: 0.4s;
    .tabs-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;
    }
    ul{
      display: flex;
      flex-direction: column !important;
    }

    .tabs-content {
      .opisaniya {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
      }

    }

    &.show {
      display: block;
    }

    .tabs-content.character {
      ul {
        display: flex;
        background-color: #fff;
        flex-direction: column;
        padding: 0;
        li {
          border-bottom: 3px solid #f1f1f1;
          display: flex;
          justify-content: space-between;
          text-align: left;

          span {
            padding: 0 10px;
            display: flex;
            width: 50%;
            text-align: left;
          }
        }
      }
    }
  }
}

@media (min-width:1200px) {
  .product-carousel {
    .col-lg-8 {
      .product-info {
        height: 200px;
        .info-center {
          .right-info-center {
            button {
              width: 200px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:1200px) {
  .product-carousel {
    .col-lg-8 {
      .product-info {
        .info-center {
          .right-info-center {
            button {
              width: 150px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:1000px) {
  .product{
    margin: 0;
    padding: 0 20px;
    .product-carousel {
      .col-lg-8 {
        >.row {
          .col-md-12 {
            h3 {
              font-size: 24px;
              width: 100%;
            }
          }
        }
        .product-info {
          .info-center {
            .right-info-center {
              button {
                width: 140px;
                margin-right: 10px !important;
                height: 48px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:954px){
  .product{
    margin: 0;
    padding: 0 10px !important;
    .product-carousel {
      .col-lg-8
      {
        .product-info {
          .info-center {
            .right-info-center {
              button {
                width: 90px;
                margin-right: 5px !important;
                height: 48px;
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width:768px) {
  .product{
    .recommendent{
      margin-right: 0;
      padding: 0 20px !important;
    }
    padding: 0 20px;
    overflow: hidden;
    .product-carousel {
      width: 100%;
      position: relative;
      .col-lg-4 {
        padding: 20px;
        padding-left: 40px;
        margin-top: 80px;
      }
      .col-lg-8 {
        >.row {
          margin-left: 30px;
          position: absolute;
          top: 0;
          left: 20px;
          height: 100px;
          .col-md-12 {
            h3 {
              font-size: 30px;
              width: 100%;
            }
          }
        }
        .product-info {
          padding: 24px 30px !important;
          height: 173px;
          .info-center {
            .right-info-center {
              button {
                height: 48px;
                margin: 0;
                width: 180px;
              }
  
              button:first-child {
                margin-right: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:700px) {
  .product-carousel {
    .col-lg-8 {
      .product-info {
        .info-center {
          .right-info-center {
            button {
              width: 125px !important;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:600px) {
  .product-carousel {
    .col-lg-8 {
      .product-info {
        .info-center {
          .right-info-center {
            button {
              width: 110px !important;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:576px) {
  .product{
    padding: 0 20px;
    overflow: hidden;
    .product-carousel {
      .col-lg-8 {
        >.row {
          position: absolute;
          top: 0;
          left: 0;
          margin-left: 30px;
          height: 100px;
          .col-md-12 {
            h3 {
              
              font-size: 26px;
              width: 100%;
            }
          }
        }
  
        .product-info {
          height: 320px;
          background-color: unset;
          .info-head {
            display: flex;
            flex-direction: column;
  
            .right-info-head {
              justify-content: flex-start;
  
              button:first-child {
                margin-right: 5px;
              }
            }
          }
  
          .info-center {
            flex-basis: 100%;
            flex-direction: column;
            align-items: flex-start;
            .left-info-center {
              justify-content: flex-start;
              flex-basis: 100%;
              text-align: left;
              margin-bottom: 10px;
            }
  
            .right-info-center {
              display: flex;
              flex-direction: column;
              width: 100%;
  
              button {
                margin-bottom: 10px;
                height: 48px;
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  
  }
  .tabs {
    .tabs-content.character {
      ul {
        li {
          border-bottom: 10px solid #f1f1f1;
          flex-direction: column;
          align-items: flex-start;

          span {
            display: flex;
            flex-basis: 100%;
            margin: 3px;
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media (max-width:400px) {
  .product{
    padding: 0 0;
    width: 100%;
    overflow: hidden;
    .product-carousel {
      margin:  0 !important;
      padding: 0 !important;
      .col-lg-8 {
        >.row {
          position: absolute;
          top: 0;
          left: 0;
          height: 100px;
          margin-left: 0;
          margin-top: 20px;
          margin-bottom: 20px;
          .col-md-12 {
            h3 {
              font-size: 20px;
            }
          }
        }
      }
      .col-lg-4{
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 80px !important;
      }
  }
    .tabs {
      .tabs-items{
        .tabs-item{
          span{
            font-size: 12px;
          }
        }
      }
      
    }
  }
}